body {
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    resize: both;
    background-image: url("../images/Money.jpg");
    background-attachment: fixed;
}